
  <!DOCTYPE html>
  <html lang="en" dir="ltr">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title> Modifier un utilisateur</title> 
      
     </head>
  <body>
    <div class="wrapper">
      <h2>Modifier un utilisateur</h2>
      <form>
        <div class="form-group">
        <div class="input-box">
          <input type="text" [(ngModel)]="currentUser.id" name="idUser" class="form-control" readonly>
        </div>
        <div class="input-box">
          <input type="text" [(ngModel)]="currentUser.name" name="username" class="form-control">
        </div>
        <div class="input-box">
          <input type="text" [(ngModel)]="currentUser.email" name="email" class="form-control">
        </div>
       
       
      </div>
        <div class="input-box button">
          <input type="Submit" (click)="updateUser()" value="Modifier" style="color:white">
        </div>
        
      </form>
    </div>
  </body>
  </html>