
        <!DOCTYPE html>
        <!-- Coding By CodingNepal - codingnepalweb.com -->
        <html lang="en" dir="ltr">
          <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title> Ajouter un utilisateur</title> 
            
           </head>
        <body>
          <div class="wrapper">
            <h2>Ajouter un utilisateur</h2>
            <form action="#">
              <div class="input-box">
                <input type="text" placeholder="Saisir un nom" [(ngModel)]= "newUser.name" required>
              </div>
              <div class="input-box">
                <input type="text" placeholder="Saisir un email"  [(ngModel)]= "newUser.email" required>
              </div>
              <div class="input-box">
                <input type="password" placeholder="Saisir Mot de passe"  [(ngModel)]= "newUser.password" required>
              </div>
              
              <!-- <div class="input-box button">
                <input type="Submit" (click)="addUser()" value="Ajouter" style="color:white">
              </div> -->
              
            </form>
          </div>
        </body>
        </html>